<p>
  <%= render TestComponent.new %>,
  <%= render TestComponent.new %>, and also
  <%= render TestComponent.new %>
</p>

<p>
  <%= render 'test_partial' %>,
  <%= render 'test_partial' %>, and also
  <%= render 'test_partial' %>
</p>
